@font-face {
  font-family: "Catamaran";
  src: url("/fonts/Catamaran.ttf");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */

:root {
  --white: #fff;
  --red: #ca3e47;
  --black: #070d18;
  --blue: #4f4fed;
  --yellow: #ebc999;
  --dark-gray: #363636;
  --light-gray: #ededed;
  --shadow: 0 .025rem .25rem rgba(0, 0, 0, .1);
}

/* reset styles */

input, button {
  border: none;
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  color: var(--black);
  font-family: "Catamaran";
  background-color: var(--white);
}

/* font sizes */

@media screen and (min-width: 480px) {
  html { font-size: 1.1rem }
}

@media screen and (min-width: 768px) {
  html { font-size: 1.2rem }
}

@media screen and (min-width: 1024px) {
  html { font-size: 1.3rem }
}

@media screen and (min-width: 1200px) {
  html { font-size: 1.4rem }
}


/* global classes */

.center {
  text-align: center;
}
